
.table{
    margin-left: auto;
    margin-right: auto;
}
th{
    padding: 15px;
}
td{
    padding: 15px;
}
.imahe{
    height: 250px;
    width: 100px;
    box-shadow: 4px 4px 4px black; 
}

img{
  transition: transform .1s;
  width: 100px;
  height: 100px;


}
img:hover{
    transform: scale(1.1);
}

.para{
    display: none;
    text-align: center;
    
}
